<h1 class="header">header</h1>
<img src="/assets/images/Logo.png" alt="Logo">
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>
<a href="../pages/function.html">function</a>