<div class="d-flex align-center bg-primary-100 justify-between px-12 py-20">
    <a href="/pages/index.html"><img src="/assets/images/Logo.png" alt="Logo"></a>
    <div>
        <a href="/pages/function.html" class="me-24"><img src="/assets/images/Icon-account.svg" alt="Icon-account"></a>
        <a href="#"><img src="/assets/images/Icon-option.svg" alt="Icons-option"></a>
    </div>
</div>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>
<a href="function.html">function</a>