.list-group-item{
  color: var(--gray-400);
  padding: 24px 0px 24px 24px;
  margin-bottom: 0px;
  background-color: var(--primary-100);
}
.list-group-item.active{
  color: var(--primary-400);
  background-color: var(--primary-100);
  border-color:  var(--primary-300);
  border-top: 0px;
}
.bg-100{
  background-color: var(--primary-100);
}

