/* 顏色 */
:root {
    --primary-100:rgba(252, 251, 247, 1);
    --primary-200:rgba(251, 244, 228, 1);
    --primary-300:rgba(245, 224, 189, 1);
    --primary-400:rgba(212, 171, 106, 1);
    --primary-500:rgba(111, 93, 66, 1);
    --primary-0:rgba(255, 255, 255, 1);
    --gray-100:rgba(231, 231, 231, 1);
    --gray-200:rgba(171, 171, 171, 1);
    --gray-300:rgba(128, 128, 128, 1);
    --gray-400:rgba(86, 86, 86, 1);
    --gray-500:rgba(44, 44, 44, 1);
    --system-sub:rgba(128, 165, 184, 1);
    --system-accent:rgba(193, 82, 29, 1);
    
}